//================> Blur
.blur {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.24);
	z-index: 1000;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 0 20px;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	overflow-y: scroll;
	& > {
		cursor: pointer !important;
	}
	&.active {
		opacity: 1;
		visibility: visible;
	}
}

//================> Popups
.popup {
    opacity: 0;    
    transition: 0.2s;
	visibility: hidden;
	transition: 0.2s;
	display: flex;
	flex-direction: column;
    &.active {
        opacity: 1;
        visibility: visible;
	}
}

.modal__close {
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	width: 59px;
	height: 59px;
	background-color: white;
	border: 1px solid #1E1700;
	transition: 0.2s;
	position: absolute;
	top: -28px;
	right: -30px;
	border-radius: 50%;
	svg {
		fill: none;	
	}
	&:hover {
		transition: 0.2s;
		background-color: #eee;
	}
	&:active {
		transition: 0.2s;
		background-color: #ddd;
	}
}

.modal {
	height: 631px;
	position: fixed;
	background: #FFFFFF;
	max-width: 529px;
	border-radius: 24px;
	padding: 69px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 29px;
		line-height: 115.2%;
		text-align: center;
		color: #000000;
	}
	&__form {
		max-width: 320px;
		display: flex;
		flex-direction: column;
		margin-top: 41px;
		& input {
			background-color: #FFFFFF;
			border: 1px solid rgba(0, 0, 0, 0.11);
			border-radius: 9px;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			color: #000000;
			padding: 25px;
			width: 100%;
			margin-bottom: 20px;
			&::placeholder {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 16px;
				color: #848484;
			}
			&.error {
				color: red;
				&::placeholder {
					color: red;
				}
			}
		}
		& button {
			width: 100%;
			margin-top: 9px;
			border: none;
		}
	}
}

.modal1 {
	height: 631px;
	position: fixed;
	background: #FFFFFF;
	max-width: 529px;
	border-radius: 24px;
	padding: 69px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 38px;
		line-height: 115.2%;
		text-align: center;
		color: #000000;
	}
	&__bot {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 55px;
		& p {
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 23px;
			text-align: center;
			color: #000000;
			max-width: 345px;
		}
		&-num {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			margin-top: 18px;
			& svg {
				margin-right: 16px;
			}
			& p {
				font-style: normal;
				font-weight: 700;
				font-size: 34px;
				line-height: 46px;
				text-align: center;
				color: #000000;
			}
		}
	}
}

.blur {
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 50;
}

.ppg {
	max-width: 860px;
	width: 860px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
	padding: 32px;
	&__left {
		width: 60%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		& .ppg-swiper {
			width: 100%;
			height: 80%;
			overflow: hidden;
			& .swiper-slide {
				
				& img {
					width: 100%;
					height: 100%;
				}
				& video {
					width: 100%;
					height: 100%;
				}
				position: relative;
				&.videobtn {
					&::before {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						width: 48px;
						height: 48px;
						transform: translate(-50%, -50%);
						z-index: 1;
						background-image: url('../img/content/play.webp');
						background-position: center;
						background-size: contain;
					}
				}
			}
		}
		& .ppg-swiper-th {
			width: 100%;
			height: 18%;
			overflow: hidden;
			& .swiper-slide {
				opacity: 0.8;
				& img {
					width: 100%;
					height: 100%;
				}
				& video {
					width: 100%;
					height: 100%;
				}
				&.swiper-slide-thumb-active {
					opacity: 1;
				}
			}
		}
	}
	&__right {
		width: 38%;
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		&-text {
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 20px;
			color: #000000;
		}
		&-price {
			font-weight: bold;
			margin-top: auto;
			font-style: normal;
			font-size: 18px;
			line-height: 20px;
			color: #000000;
			margin-bottom: 32px;
		}
	}
}

.thanxp {
	z-index: 1;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	& .green-btn {
		padding-left: 12px;
		padding-right: 12px;
		margin-top: 32px;
	}
}

@media screen and (max-width: 1440px) {
	.modal {
		height: 465px;
		max-width: 400px;
	}
	.modal1 {
		height: 465px;
		max-width: 400px;
	}
	.modal__form input {
		padding: 15px;
	}
	.modal__title {
		font-size: 19px;
	}
	.modal1__title {
		font-size: 19px;
	}
	.modal__form button {
		height: 46px;
		font-size: 18px;
	}
	.modal1__bot-num p {
		font-size: 25px;
	}
	.modal1__bot-num svg {
		width: 30px;
		height: 30px;
	}
	.modal1__bot p {
		font-size: 15px;
	}
	.ppg {
		max-width: 860px;
		width: 860px;
		height: 631px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: space-between;
		padding: 32px;
		&__left {
			width: 60%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			& .ppg-swiper {
				width: 100%;
				height: 80%;
				overflow: hidden;
				& .swiper-slide {
					& img {
						width: 100%;
						height: 100%;
					}
					& video {
						width: 100%;
						height: 100%;
					}
				}
			}
			& .ppg-swiper-th {
				width: 100%;
				height: 18%;
				overflow: hidden;
				& .swiper-slide {
					opacity: 0.8;
					& img {
						width: 100%;
						height: 100%;
					}
					& video {
						width: 100%;
						height: 100%;
					}
					&.swiper-slide-thumb-active {
						opacity: 1;
					}
				}
			}
		}
		&__right {
			width: 38%;
			height: 100%;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			&-text {
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 20px;
				color: #000000;
			}
			&-price {
				font-weight: bold;
				margin-top: auto;
				font-style: normal;
				font-size: 18px;
				line-height: 20px;
				color: #000000;
				margin-bottom: 32px;
			}
		}
	}
}
@media screen and (max-width: 860px) {
	.modal {
		width: 320px;
		height: 411px;
		padding: 42px 14px;
		&__title {
			font-style: normal;
			font-weight: 400;
			font-size: 21px;
			line-height: 115.2%;
			text-align: center;
			color: #000000;
		}
		&__form {
			max-width: 320px;
			display: flex;
			flex-direction: column;
			margin-top: 41px;
			& input {
				background-color: #FFFFFF;
				border: 1px solid rgba(0, 0, 0, 0.11);
				border-radius: 9px;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 16px;
				color: #000000;
				padding: 25px;
				width: 100%;
				margin-bottom: 20px;
				&::placeholder {
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 16px;
					color: #848484;
				}
				&.error {
					color: red;
					&::placeholder {
						color: red;
					}
				}
			}
			& button {
				width: 100%;
				margin-top: 9px;
				border: none;
			}
		}
	}
	.modal1 {
		width: 320px;
		height: 411px;
		padding: 42px 14px;
		&__title {
			font-style: normal;
			font-weight: 400;
			font-size: 21px;
			line-height: 115.2%;
			text-align: center;
			color: #000000;
		}
		&__bot {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 55px;
			& p {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 18px;
				text-align: center;
				color: #000000;
				max-width: 345px;
			}
			&-num {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				margin-top: 18px;
				& svg {
					margin-right: 16px;
				}
				& p {
					font-style: normal;
					font-weight: 700;
					font-size: 19px;
					line-height: 115.2%;
					text-align: center;
					color: #000000;
				}
			}
		}
	}
	.ppg {
		max-width: 100%;
		width: 100%;
		height: 450px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: space-between;
		padding: 16px;
		& .modal__close {
			right: 50%;
			top: -45px;
			transform: translateX(50%);
		}
		&__left {
			width: 100%;
			height: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			& .ppg-swiper {
				width: 100%;
				height: 100%;
				overflow: hidden;
				& .swiper-slide {
					& img {
						width: 100%;
						height: 100%;
					}
					& video {
						width: 100%;
						height: 100%;
					}
				}
			}
			& .ppg-swiper-th {
				display: none;
			}
		}
		&__right {
			width: 100%;
			height: auto;
			overflow-x: hidden;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			&-text {
				font-style: normal;
				font-weight: 300;
				font-size: 14px;
				line-height: 16px;
				color: #000000;
				padding-top: 24px;
			}
			&-price {
				font-weight: bold;
				margin-top: 32px;
				font-style: normal;
				font-size: 16px;
				line-height: 18px;
				color: #000000;
				margin-bottom: 32px;
			}
			& .green-btn {
				padding: 24px;
			}
		}
	}
}
@media screen and (max-width: 375px) {
	.modal__close {
		right: 50%;
		transform: translateX(50%);
	}
}